@import "tailwindcss";


.input {
  @apply w-full bg-slate-800 border border-slate-700 rounded-lg px-3 py-2 text-slate-200;
}

.btn-primary {
  @apply w-full bg-emerald-500 text-slate-900 rounded-lg py-2 font-semibold hover:bg-emerald-600;
}

.btn-danger {
  @apply w-full bg-red-500 text-white rounded-lg py-2 font-semibold hover:bg-red-600;
}
